{% extends 'base.html.twig' %}

{% block title %}
    Mon profil
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <h1>Editer son profil</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-danger">Modifier</button>
        {{ form_end(form) }}
    </div>
{% endblock %}



